body{
    background-color: rgba(250, 227, 206, 0.506);
    font-family: 'Sofia Sans', sans-serif;
  }
  h1{
    color: #e29079;
    text-align: center;
  }
  
  #text-style, #font, #color-theme {
    border: 2px dashed #e29079;
    max-width: 1000px;
    min-height: 200px;
    margin: 10px;
    background-color: white;
  }

  /*color palates*/
  #palate1, #palate2, #palate3 {
    margin: 8px;
    display: inline-flex;
  }
  #palate2 {
    position: relative;
    left: 16%;
  }
  #palate3 {
    position: relative;
    left: 28%;
  }

  .circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 2px;
    background-color: blue;
  }
  .red1 {
    background-color: #4E051F;
  }
  .red2 {
    background-color: #721637;
  }
  .red3 {
    background-color: #F576A3;
  }
  .red4 {
    background-color:#DC85A4;
  }
  .green1 {background-color: #485605;}
  .green2 {background-color: #6C7D19;}
  .green3 {background-color: #E6FC7A;}
  .green4 {background-color: #E2F293;}

  .purple1 {background-color: #29073C;}
  .purple2 {background-color: #3E1557;}
  .purple3 {background-color: #BD75E5;}
  .purple4 {background-color: #9169A7;}